Здравствуй, дорогой друг! Я - простенький бот сайта "{{ site_title }}", расположенного по адресу {{ site_name }}. Этот сайт является хранилищем изображений.
Любой желающий, обладающий доступом, может разными способами загрузить изображение на сайт и использовать получившуюся на него ссылку по своему усмотрению.
Использование меня - как раз один из способов сделать это! Просто отправь мне изображение, я его сохраню и пришлю тебе на него ссылку!
Но сначала необходимо подтвердить доступ. Для этого пришли мне в сообщении код доступа.
